bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Alvind0.DrinksInfo/.idea/vcs.xml
/.vs/Alvind0.DrinksInfo/DesignTimeBuild/.dtbcache.v2
/.vs/Alvind0.DrinksInfo/FileContentIndex
/.vs/Alvind0.DrinksInfo/v17
/.vs/ProjectEvaluation
